{% extends my_template %}

{% load static %}

{% block content %}

{% if my_template == "front_page.html" %}

<div class="display_box" style="width:85%" >
	<div class="display_box_header">
		<div class="display_box_header_left"></div>
		<div class="display_box_header_center">
			<div class="display_box_header_center_content">Races</div>
		</div>
		<div class="display_box_header_right"></div>
	</div>
	<div class="display_box_content" style =" margin: 0 auto;" >
		<div class="display_box_content_left"></div>
		<div class="display_box_content_center"  >
{% endif %}

<table class="Harks" style="width:100%">
	<caption><strong><font size=10>Harks</font></strong></caption>
	<thead>
		<tr>
			<th style="width:20%"><u>Race Specials</u></th>
			<th style="width:20%"><u>Research</u></th>
			<th style="width:20%"><u>Operations</u></th>
			<th style="width:20%"><u>Spells</u></th>
			<th style="width:20%"><u>*Incantations*</u></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Population Growth: -20%</td>
			<td>Military: +20% | Maximum: 250%</td>
			<td>Observe Planet</td>
			<td>Irradicate Ectrolium</td>
			<td>Portal Force Field</td>
		</tr>
		<tr>
			<td>Attack: +40%</td>
			<td>Construction: +20%</td>
			<td>Network Infiltration</td>
			<td>Incandescence</td>
			<td>Vortex Portal</td>
		</tr>
		<tr>
			<td>Defence: -10%</td>
			<td>Technology: +20%</td>
			<td>Infiltration</td>
			<td>Black Mist</td>
			<td>Energy Surge</td>
		</tr>
		<tr>
			<td>Travel Speed: 40%</td>
			<td>Energy: +20%</td>
			<td>Bio Infection</td>
			<td>War Illusions</td>
			<td>Call to Arms</td>
		</tr>
		<tr>
			<td>Fighters: +20%</td>
			<td>Population: +20%</td>
			<td>Military Sabotage</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Energy Production: -10%</td>
			<td>Culture: -40%</td>
			<td>Nuke Planet</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Crystal Production: +25%</td>
			<td>Operations: +20%</td>
			<td>Diplomatic Espionage</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Portals: +20%</td>
			<td>Bribe Officials</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<table class="Manticarias" style="width:100%">
	<br>
	<caption><strong><font size=10>Manticarias</font></strong></caption>
	<thead>
		<tr>
			<th style="width:20%"><u>Race Specials</u></th>
			<th style="width:20%"><u>Research</u></th>
			<th style="width:20%"><u>Operations</u></th>
			<th style="width:20%"><u>Spells</u></th>
			<th style="width:20%"><u>*Incantations*</u></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Population Growth: -10%</td>
			<td>Military: -10%</td>
			<td>Spy Target</td>
			<td>Dark Web</td>
			<td>Planetary Shielding</td>
		</tr>
		<tr>
			<td>Attack: -30%</td>
			<td>Construction: -10%</td>
			<td>Observe Planet</td>
			<td>Black Mist</td>
			<td>Mind Control</td>
		</tr>
		<tr>
			<td>Defence: +10%</td>
			<td>Technology: -10%</td>
			<td>Hack Mainframe</td>
			<td>War Illusions</td>
			<td></td>
		</tr>
		<tr>
			<td>Psychics: +40%</td>
			<td>Energy: -10%</td>
			<td></td>
			<td>Psychic Assault</td>
			<td></td>
		</tr>
		<tr>
			<td>Ghost Ships: +20%</td>
			<td>Population: -10%</td>
			<td></td>
			<td>Phantoms</td>
			<td></td>
		</tr>
		<tr>
			<td>Energy Production: +40%</td>
			<td>Culture: +80%</td>
			<td></td>
			<td>Enlightment</td>
			<td></td>
		</tr>
		<tr>
			<td>Solar Collectors: +25%</td>
			<td>Operations: -10%</td>
			<td></td>
			<td>Grow Planets Size</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Portals: -10%</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<table class="Foohons" style="width:100%">
	<caption><strong><font size=10>Foohons</font></strong></caption>
	<thead>
		<tr>
			<th style="width:20%"><u>Race Specials</u></th>
			<th style="width:20%"><u>Research</u></th>
			<th style="width:20%"><u>Operations</u></th>
			<th style="width:20%"><u>Spells</u></th>
			<th style="width:20%"><u>*Incantations*</u></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Population Growth: -20%</td>
			<td>Military: +50%</td>
			<td>Observe Planet</td>
			<td>Irradicate Ectrolium</td>
			<td>Sense Artefact</td>
		</tr>
		<tr>
			<td>Attack: +20%</td>
			<td>Construction: +50%</td>
			<td>Spy Target</td>
			<td>Dark Web</td>
			<td>Survey System</td>
		</tr>
		<tr>
			<td>Defence: +10%</td>
			<td>Technology: +50%</td>
			<td>Infiltration</td>
			<td>Incandescence</td>
			<td>Vortex Portal</td>
		</tr>
		<tr>
			<td>Ghost Ships: +10%</td>
			<td>Energy: +50%</td>
			<td>Military Sabotage</td>
			<td>Psychic Assault</td>
			<td>Mind Control</td>
		</tr>
		<tr>
			<td>Energy Production: -20%</td>
			<td>Population: +50%</td>
			<td>High Infiltration</td>
			<td>Enlightment</td>
			<td></td>
		</tr>
		<tr>
			<td>Ectrolium Production: +20%</td>
			<td>Culture: +50%</td>
			<td>Planetary Beacon</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Population: 6000 = 1 Research Point Per Week</td>
			<td>Operations: +50%</td>
			<td>Maps Theft</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Portals: +50%</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<table class="Spacebornes" style="width:100%">
	<caption><strong><font size=10>Spacebornes</font></strong></caption>
	<thead>
		<tr>
			<th style="width:20%"><u>Race Specials</u></th>
			<th style="width:20%"><u>Research</u></th>
			<th style="width:20%"><u>Operations</u></th>
			<th style="width:20%"><u>Spells</u></th>
			<th style="width:20%"><u>*Incantations*</u></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Population Growth: +20%</td>
			<td>Military: +10%</td>
			<td>Observe Planet</td>
			<td>Irradicate Ectrolium</td>
			<td>Survey System</td>
		</tr>
		<tr>
			<td>Defence: +20%</td>
			<td>Construction: +10%</td>
			<td>Spy Target</td>
			<td>Incandescence</td>
			<td>Planetary Shielding</td>
		</tr>
		<tr>
			<td>Travel Speed: +80%</td>
			<td>Technology: -40%</td>
			<td>Network Infiltration</td>
			<td>Black Mist</td>
			<td></td>
		</tr>
		<tr>
			<td>Soldiers: +10%</td>
			<td>Energy: +10% | Maximum: 250%</td>
			<td>Bio Infection</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Droids: +10%</td>
			<td>Population: +10%</td>
			<td>Hack Mainframe</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Psychics: -30%</td>
			<td>Culture: +10%</td>
			<td>Nuke Planet</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Agents: +30%</td>
			<td>Operations: +10%</td>
			<td>Planetary Beacon</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Energy Production: +30%</td>
			<td>Portals: +10%</td>
			<td>Diplomatic Espionage</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>Bribe Officials</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>Maps Theft</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<table class="Dreamweavers" style="width:100%">
	<caption><strong><font size=10>Dreamweavers</font></strong></caption>
	<thead>
		<tr>
			<th style="width:20%"><u>Race Specials</u></th>
			<th style="width:20%"><u>Research</u></th>
			<th style="width:20%"><u>Operations</u></th>
			<th style="width:20%"><u>Spells</u></th>
			<th style="width:20%"><u>*Incantations*</u></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Population Growth: +10%</td>
			<td>Military: +40% | Maximum: 100%</td>
			<td>Observe Planet</td>
			<td>Irradicate Ectrolium</td>
			<td>Sense Artefact</td>
		</tr>
		<tr>
			<td>Defence: -30%</td>
			<td>Construction: +40% | Maximum: 250%</td>
			<td>Network Infiltration</td>
			<td>Dark Web</td>
			<td>Portal Force Field</td>
		</tr>
		<tr>
			<td>Psychics: +50%</td>
			<td>Technology: +180%</td>
			<td>Bio Infection</td>
			<td>Incandescence</td>
			<td>Mind Control</td>
		</tr>
		<tr>
			<td>Ghost Ships: +30%</td>
			<td>Energy: +40%</td>
			<td>Hack Mainframe</td>
			<td>Black Mist</td>
			<td>Energy Surge</td>
		</tr>
		<tr>
			<td>Energy Production: -20%</td>
			<td>Population: +40%</td>
			<td>Military Sabotage</td>
			<td>War Illusions</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Culture: +40%</td>
			<td></td>
			<td>Psychic Assault</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Operations: +40%</td>
			<td></td>
			<td>Phantoms</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Portals: +40%</td>
			<td></td>
			<td>Enlightment</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>Grow Planets Size</td>
			<td></td>
		</tr>
	</tbody>
</table>
<table class="Wookies" style="width:100%">
	<caption><strong><font size=10>Wookies</font></strong></caption>
	<thead>
		<tr>
			<th style="width:20%"><u>Race Specials</u></th>
			<th style="width:20%"><u>Research</u></th>
			<th style="width:20%"><u>Operations</u></th>
			<th style="width:20%"><u>Spells</u></th>
			<th style="width:20%"><u>*Incantations*</u></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Population Growth: +20%</td>
			<td>Construction: +100%</td>
			<td>Observe Planet</td>
			<td>Irradicate Ectrolium</td>
			<td>Sense Artefact</td>
		</tr>
		<tr>
			<td>Attack: -10%</td>
			<td>Population: +100% | Maximum: 250%</td>
			<td>Infiltration</td>
			<td>Incandescence</td>
			<td>Survey System</td>
		</tr>
		<tr>
			<td>Defence: +30%</td>
			<td>Portals: +100%</td>
			<td>Nuke Planet</td>
			<td>War Illusions</td>
			<td>Portal Force Field</td>
		</tr>
		<tr>
			<td>Travel Speed: +60%</td>
			<td></td>
			<td>Planetary Beacon</td>
			<td>Grow Planets Size</td>
			<td>Call to Arms</td>
		</tr>
		<tr>
			<td>Cruisers: +15%</td>
			<td></td>
			<td>Diplomatic Espionage</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Ghost Ships: +15%</td>
			<td></td>
			<td>Bribe Officials</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Mineral: +25%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Crystal: +25%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Interest: Energy and Resource reserves gain Interest!</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

{% if my_template == "front_page.html" %}
		</div>
		<div class="display_box_content_right"></div>
	</div>

	<div class="display_box_footer">
		<div class="display_box_footer_left"></div>
		<div class="display_box_footer_center"></div>
		<div class="display_box_footer_right"></div>
	</div>
</div>
{% endif %}


{% endblock %}
